.post-wrapper {
  background-color: #f9e8d0;
  line-height: 2rem;
}

.blog-content {
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  min-height: 100vh;
  background-color: white;
  justify-content: left;
  margin: 2vh 20vw;
  padding: 4em 2vw;
  border-radius: 10px;
}

.float-bar {
  display: inline-block;
  position: sticky;
  top: 2em;
  left: 2em;
}

.blog-content h1 {
  font-size: xxx-large;
  font-weight: bold;
  text-align: center;
}

.blog-content h1::after{
  padding-top: 0;
  content: "";
  display: block;
  line-height: 1rem;
  height: 1px;
  background-color: orange;
  margin-bottom: 2rem;
}

.blog-content h2 {
  font-size:xx-large;
  text-align: left;
}

.blog-content h3 {
  font-size:x-large;
}

.blog-content h4{
  font-size:large;
}

.blog-content h5{
  font-size: 1.25rem;
}

.blog-content h6 {
  font-size: 1.125rem;
}

.blog-content p {
  font-size: 1rem;
}

.blog-content ul > li::before {
  content: "";
  display:inline-block;
  background-color: blue;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  opacity: 50%;
}

.blog-content ul ul, ol ol {
  padding-left: 20px
}

.blog-content pre {
  margin: 1rem 0;
}