.contact-content {
  display: block;
  line-height: 5vh;
  font-weight: bold;
  font-size: 1.2em;
}

.contact-drawer {
  opacity: 75%;
  transition: all 0.5s linear;
}

.contact-drawer:hover {
  opacity: 100%;
}
