.gallery-wrapper {
  padding-top: 100px;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #f7de98;
  z-index: -10;
}

.display {
  position: relative;
  z-index: -5;
}
