.blog-wrapper {
    display: block;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.welcome-image {
    height: 25vh;
    aspect-ratio: auto;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 7vh;
}