.blog-wrapper {
  display: block;
  background-color: #f7de98;
  scroll-behavior: smooth;
  padding: 75px 0;
  text-align: center;
}

.welcome-image {
  background-image: url('../../../public/iceland-1979445_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  aspect-ratio: auto;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  max-height: 100vh;
  min-width: 65vw;
  margin: 50px 0;
}

.articles {
  max-height: 100vh;
  display: flex;
  width: 80vh;
  justify-content: center;
}

.calendar {
  display: flex;
  overflow: auto;
  float: right;
  max-width: 25vw;
}

.blog-list {
  width: inherit;
}