.languages-list {
  display: inline-block;
  font-size: medium;
  color: #2d0c13;
  padding: 10px 10px;
  transition: all 500ms ease;
  border-radius: 8px;
  line-height: 1em;
  margin: 3px 3px;
}

.languages-list:hover {
  border: 2px solid #f4a83a;
  background: linear-gradient(#f4a83a, #e4dfd7);
  color: #0eb0c9;
}

.about-me-drawer {
  opacity: 75%;
  transition: all 0.5s ease;
}

.about-me-drawer:hover {
  opacity: 100%;
}
